pub.ms5.me {
  proxy / localhost:9995
}

ui.ms5.me {
  proxy / localhost:9995
}

nbs.ms5.me {
  root public
}

pbc.ms5.me {
  proxy / localhost:9995
}

fengyun.cc {
  proxy / localhost:8999
}

ttd2.fengyun.cc {
  proxy / localhost:8998
}
