pub.ms5.me {
    root public
    gzip
    cors / {
        origin            *.ms5.me
        methods           *
        allow_credentials false
        max_age           3600
        allowed_headers   X-Custom-Header,X-Foobar
        exposed_headers   X-Something-Special,SomethingElse
    }

}

nbs.ms5.me {
    proxy / localhost:8888
}

fengyun.cc {
    proxy / localhost:8999
}

ttd2.fengyun.cc {
    proxy / localhost:8998
}
